.card {
  height: auto;
  border-radius: 1rem;
  box-shadow: rgb(206, 203, 226) 0px 0px 20px 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.card-project {
  background-color: transparent;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.period {
  margin: 0 0 0.5rem 0;
}

.logo {
  height: 2rem !important;
  padding: 0 !important;
}

.text {
  margin: 0;
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  .divider {
    display: block;
  }

  .right-container {
    padding: 0 1.25rem;
  }
}

@media (max-width: 768px) {
  .divider {
    display: none;
  }

  .right-container {
    padding: 0;
  }
}
