.md-left-container {
  padding: 0 2rem;
}

.md-profile-container {
  width: fit-content;
  margin-right: 2rem;
  display: flex;
}

.md-profile {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.github-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.github-text {
  margin: 0;
  font-size: 0.75rem;
}

.github-img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.hi {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  display: flex;
  justify-content: start;
}

.stack {
  margin: 0 0.25rem 0 0;
  font-size: 1rem;
}
