#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html {
  font-size: 100%;
}

body {
  color: #2f3235;
  background-color: #f0f2f5;
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden; /* 전체 페이지 스크롤 방지 */
}

.layout {
  min-width: 100vw;
  min-height: 100vh;
  background: #d8e5f1;
  padding: 1.25rem;
}

.header {
  color: #2f3235;
  font-weight: 700;
  background-color: transparent;
}
